@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: transparent;
    --error: 253 56 79;
    --font: 95 99 104;
    --black: 36 35 36;
    --white: 255 255 255;
    --primary: 228 113 49;
    --primary-variant: 250 198 132;
    --secondary: 255 71 71;
    --foreground: 255 255 255;
    --background: 245 245 245;

    --accent-primary: 69 204 254;
    --accent-secondary: 191 69 255;
    --accent-tertiary: 237 216 1;
    --accent-quaternary: 127 29 198;

    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --spotlight-size: 150px;
  }

  .dark {
    --transparent: transparent;
    --error: 253 56 79;
    --font: 198 197 205;
    --black: 46 45 46;
    --white: 240 240 240;
    --primary: 228 113 49;
    --primary-variant: 126 67 24;
    --secondary: 255 71 71;
    --foreground: 39 40 45;
    --background: 27 27 31;
  }

  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans text-3xl font-semibold leading-10;
  }

  h2 {
    @apply font-sans text-xl font-semibold leading-6;
  }

  h3 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-inside list-disc;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  u {
    text-underline-offset: 3px;
  }

  s {
    text-decoration: line-through;
  }

  hr,
  .hr-class {
    @apply my-2 rounded-[3px] stroke-font text-font;
  }

  table {
    @apply my-3;
  }

  blockquote {
    @apply relative my-3 ml-5 w-fit rounded-lg bg-primary-variant/30 text-xl mobile-x:w-full;
    padding: 12px 12px 1px 12px;
  }

  blockquote::before {
    content: '';
    top: calc(50% - 8px);
    left: -12px;
    @apply absolute h-6 w-[5px] rounded-lg bg-primary;
  }

  @media screen and (max-width: 530px) {
    blockquote {
      padding: 12px;
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }

  pre {
    border-radius: 0 0 8px 8px !important;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
  }

  pre code {
    word-spacing: normal;
    tab-size: 2 !important;
    hyphens: none;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4rem;
    white-space: inherit;
    padding: 0;
    overflow: auto;
    font-size: 0.95rem;
  }

  body {
    @apply relative m-0 w-[100%] bg-background font-sans font-normal text-font selection:bg-primary/20 selection:text-font selection:text-opacity-90;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-padding-top: 70px;
    @apply m-0 overflow-x-hidden scroll-smooth p-0 text-font;
  }
  * {
    @apply text-font;
  }
}

@layer components {
  .base-border {
    @apply border-[1px] border-solid border-font/[.12];
  }

  .base-input {
    @apply base-border w-full resize-y rounded-lg bg-background/70 px-[18px] py-[10px] outline-none transition-colors placeholder:text-font/60 focus:shadow-[0_0_20px_rgba(0,0,0,.06)] disabled:border-none disabled:bg-foreground disabled:placeholder:text-transparent;
  }

  .base-label {
    @apply relative;

    svg {
      @apply absolute left-0 top-[2px] h-[18px] w-[18px];
    }

    span {
      @apply pl-6;
    }
  }

  .base-corner-button {
    all: unset;
    @apply grid w-fit cursor-pointer place-content-center rounded-lg;

    svg {
      @apply h-auto w-[20px];
    }
  }

  .base-section-title {
    @apply relative mx-auto mt-3 font-sans font-bold max-[420px]:text-center max-[420px]:text-base;

    ::before {
      @apply absolute -top-4 left-[calc(50%_-_20px)] h-[7px] w-11 rounded-xl bg-primary content-[''];
    }

    svg {
      @apply absolute left-0 top-[calc(50%_-_10px)] h-5 w-5 stroke-primary;
    }
    span {
      @apply pl-6 text-lg uppercase;
    }
  }
}

@layer utilities {
  .hover-text {
    @apply transition-all duration-300;
  }

  .hover-text:hover {
    @apply text-accent-secondary;
  }

  .hover-text:hover + .hover-text {
    @apply text-accent-primary;
  }

  .hover-text:has(+ .hover-text:hover) {
    @apply text-accent-tertiary;
  }
}
