@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: transparent;
    --error: 253 56 79;
    --font: 95 99 104;
    --black: 36 35 36;
    --white: 255 255 255;
    --primary: 228 113 49;
    --primary-variant: 250 198 132;
    --secondary: 255 71 71;
    --foreground: 255 255 255;
    --background: 245 245 245;

    --accent-primary: 69 204 254;
    --accent-secondary: 191 69 255;
    --accent-tertiary: 237 216 1;
    --accent-quaternary: 127 29 198;

    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --spotlight-size: 150px;
  }

  .dark {
    --transparent: transparent;
    --error: 253 56 79;
    --font: 198 197 205;
    --black: 46 45 46;
    --white: 240 240 240;
    --primary: 228 113 49;
    --primary-variant: 126 67 24;
    --secondary: 255 71 71;
    --foreground: 39 40 45;
    --background: 27 27 31;
  }

  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans text-3xl font-semibold leading-10;
  }

  h2 {
    @apply font-sans text-xl font-semibold leading-6;
  }

  h3 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-inside list-disc;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  u {
    text-underline-offset: 3px;
  }

  s {
    text-decoration: line-through;
  }

  hr,
  .hr-class {
    @apply my-2 rounded-[3px] stroke-font text-font;
  }

  table {
    @apply my-3;
  }

  blockquote {
    @apply relative my-3 ml-5 w-fit rounded-lg bg-primary-variant/30 text-xl mobile-x:w-full;
    padding: 12px 12px 1px 12px;
  }

  blockquote::before {
    content: '';
    top: calc(50% - 8px);
    left: -12px;
    @apply absolute h-6 w-[5px] rounded-lg bg-primary;
  }

  @media screen and (max-width: 530px) {
    blockquote {
      padding: 12px;
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }

  pre {
    border-radius: 0 0 8px 8px !important;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
  }

  pre code {
    word-spacing: normal;
    tab-size: 2 !important;
    hyphens: none;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4rem;
    white-space: inherit;
    padding: 0;
    overflow: auto;
    font-size: 0.95rem;
  }

  body {
    @apply relative m-0 w-[100%] bg-background font-sans font-normal text-font selection:bg-primary/20 selection:text-font selection:text-opacity-90;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-padding-top: 70px;
    @apply m-0 overflow-x-hidden scroll-smooth p-0 text-font;
  }
  * {
    @apply text-font;
  }
}

@layer components {
  .base-border {
    @apply border-[1px] border-solid border-font/[.12];
  }
}

@layer utilities {
  .hover-text {
    @apply transition-all duration-300;
  }

  .hover-text:hover {
    @apply text-accent-secondary;
  }

  .hover-text:hover + .hover-text {
    @apply text-accent-primary;
  }

  .hover-text:has(+ .hover-text:hover) {
    @apply text-accent-tertiary;
  }

  /* Glow effect card styles */
  [data-glow]::before,
  [data-glow]::after {
    pointer-events: none;
    content: '';
    position: absolute;
    inset: calc(var(--border-size) * -1);
    border: var(--border-size) solid transparent;
    border-radius: calc(var(--radius) * 1px);
    background-attachment: fixed;
    background-size: calc(100% + (2 * var(--border-size)))
      calc(100% + (2 * var(--border-size)));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
  }

  [data-glow]::before {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.75) calc(var(--spotlight-size) * 0.75) at
        calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(
        var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 50) * 1%) /
          var(--border-spot-opacity, 1)
      ),
      transparent 100%
    );
    filter: brightness(2);
  }

  [data-glow]::after {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.5) calc(var(--spotlight-size) * 0.5) at
        calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(0 100% 100% / var(--border-light-opacity, 1)),
      transparent 100%
    );
  }

  [data-glow] [data-glow] {
    position: absolute;
    inset: 0;
    will-change: filter;
    opacity: var(--outer, 1);
    border-radius: calc(var(--radius) * 1px);
    border-width: calc(var(--border-size) * 20);
    filter: blur(calc(var(--border-size) * 10));
    background: none;
    pointer-events: none;
    border: none;
  }

  [data-glow] > [data-glow]::before {
    inset: -10px;
    border-width: 10px;
  }
}
